[submodule "lib/moonscript"]
	path = lib/moonscript
	url = https://github.com/fendrin/moonscript.git
    branch = master
[submodule "server/lib/wesnoth"]
	path = server/lib/wesnoth
	url = https://github.com/fendrin/wesnoth-api.git
	branch = master
[submodule "client/lib/luigi"]
	path = client/lib/luigi
	url = https://github.com/fendrin/luigi.git
    branch = master
[submodule "assets"]
	path = assets
	url = https://github.com/fendrin/wesnoth-assets.git
	branch = master
[submodule "data"]
	path = data
	url = https://github.com/fendrin/wesnoth-data.git
	branch = master
[submodule "client/lib/Moan"]
	path = client/lib/Moan
	url = https://github.com/fendrin/Moan.lua.git
    branch = master
[submodule "client/lib/splashes"]
	path = client/lib/splashes
	url = https://github.com/fendrin/splashes.git
    branch = master
[submodule "lib/Penlight"]
	path = lib/Penlight
	url = https://github.com/stevedonovan/Penlight.git
    branch = master
