[submodule "data"]
	path = data
	url = https://github.com/fendrin/wesnoth-data.git
	branch = master
    update = merge
[submodule "assets"]
	path = assets
	url = https://github.com/fendrin/wesnoth-assets.git
	branch = master
    update = merge

[submodule "moonscript"]
	path = wesnoth/shared/lib/moonscript
	url = https://github.com/fendrin/moonscript.git
    branch = master
    update = merge
[submodule "penlight"]
	path = wesnoth/shared/lib/Penlight
	url = https://github.com/stevedonovan/Penlight.git
    branch = master
    update = merge
