[submodule "data"]
	path = data
	url = https://github.com/fendrin/wesnoth-data.git
	branch = master
    update = merge
[submodule "assets"]
	path = assets
	url = https://github.com/fendrin/wesnoth-assets.git
	branch = master
    update = merge

[submodule "moonscript"]
	path = wesnoth/shared/lib/moonscript
	url = https://github.com/fendrin/moonscript.git
    branch = master
    update = merge
[submodule "penlight"]
	path = wesnoth/shared/lib/Penlight
	url = https://github.com/stevedonovan/Penlight.git
    branch = master
    update = merge
[submodule "luigi"]
	path = wesnoth/client/shared/lib/luigi
	url = https://github.com/fendrin/luigi.git
	branch = gh-pages
    update = merge
[submodule "splashes"]
	path = wesnoth/client/shared/lib/splashes
	url = https://github.com/fendrin/splashes.git
	branch = master
    update = merge
[submodule "wesnoth-api"]
	path = wesnoth/server/lib/wesnoth
	url = https://github.com/fendrin/wesnoth-api.git
	branch = master
    update = merge
