#!/usr/bin/make -f

BUILD_DATE=$(shell dpkg-parsechangelog --show-field=Date)

%:
	dh $@

override_dh_auto_clean:
	mkdir -p distrib;
	rm -f distrib/wesnoth.love;
	dh_auto_clean

override_dh_auto_build:
	zip -q -9 -r --exclude=*.git* --exclude=*distrib* --exclude=*debian* distrib/wesnoth.love  .
