#!/usr/bin/make -f

BUILD_DATE=$(shell dpkg-parsechangelog --show-field=Date)

%:
	dh $@

override_dh_auto_clean:
	rm -rf distrib;
	mkdir -p distrib;
	dh_auto_clean;

override_dh_auto_build:
	cd ..; zip -x ".travis.yml" -x "utils/*" -x "wesnoth-love_*" -x "*.git*" -9 -r ./utils/distrib/wesnoth.love ./

