#!/usr/bin/make -f

BUILD_DATE=$(shell dpkg-parsechangelog --show-field=Date)

%:
	dh $@

override_dh_auto_clean:
	rm -rf builds/deb
	mkdir -p builds/deb
	dh_auto_clean;

override_dh_auto_build:
	./zip_love.sh
